.board{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:0px;
    width: 300px;
    margin-bottom: 10px;
}
.board div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    background-color: brown;
    font-size: 48px;
    cursor: pointer;
}
button{
    font-size: 18px;
    padding:10px 20px;
}
.result{
    flex: auto;
    align-items: center;
    justify-content: center;
    color: brown;
    
}