<!-- saved-games.component.html -->
<div>
    <h2>Saved Games</h2>
    <div>
      <mat-form-field class="field">
        <mat-label for="filterInput">Filter by name:</mat-label>
        <input type="text" matInput id="filterInput" [(ngModel)]="filterTerm">
      </mat-form-field>
      <button (click)="applyFilter()" mat-raised-button color="accent" class="filter">Apply Filter</button>
    </div>
    <ul>
      <li *ngFor="let game of savedGames">
        {{ game.name }}
        <button (click)="loadGame(game.id)" mat-raised-button color="accent">Load</button>
        <button (click)="deleteSavedGame(game.id)" mat-raised-button color="accent">Delete</button>
      </li>
    </ul>
  </div>
  