
:host {
    max-width: 600px; 
    margin: 0 auto; 
  }
  
  label {
    margin-right: 10px; 
  }
  
  input, button {
    margin-bottom: 10px; 
  }
  
  ul {
    list-style-type: none; 
    padding: 0;
  }
  
  li {
    margin-bottom: 10px; 
  }
  .field{
    transform: translate(350%,30%);
  }
  .filter{
    transform: translate(635%,55%);
  }