.mat-form-field{
    background-color: chocolate;
}
.field{
    background-color: chocolate;
    width: 250px;
    height: 75px;
    transform: translate(200%,110%);
}
.save{
    background-color: chocolate;
    width: 100px;
    height: 75px;
    transform: translate(500%,110%);
}
